### Multiple Regression

In [5]:
import pandas as pd
df=pd.read_excel("Trucking.xlsx")
df

   Driving Assignmnet   x1  n_of_deliveries  travel_time
0                   1  100                4          9.3
1                   2   50                3          4.8
2                   3  100                4          8.9
3                   4  100                2          6.5
4                   5   50                2          4.2
5                   6   80                2          6.2
6                   7   75                3          7.4
7                   8   65                4          6.0
8                   9   90                3          7.6
9                  10   90                2          6.1